# Homework 1

## Data processing

In [29]:
# Import needed packages

import numpy as np
import pandas as pd
import nltk
import re
#nltk.download()

In [2]:
# Read data set
data = pd.read_table("speech_data_extend.txt")
data.head()

    president                                             speech  year
0  Washington  Fellow-Citizens of the Senate and House of Rep...  1790
1  Washington  I embrace with great satisfaction the opportun...  1790
2  Washington  In resuming your consultations for the general...  1790
3  Washington  Among the many interesting objects which will ...  1790
4  Washington  A free people ought not only to be armed, but ...  1790

In [3]:
regex = re.compile('[^a-z]')
docs_list = [doc.lower() for doc in list(data.loc[:,'speech'])]
clean_docs = [nltk.word_tokenize(regex.sub(' ', ''.join(doc))) for doc in docs_list]

In [4]:
#Tokenizing and non-alphabetic character removal done
print(clean_docs[:5])

[['fellow', 'citizens', 'of', 'the', 'senate', 'and', 'house', 'of', 'representatives'], ['i', 'embrace', 'with', 'great', 'satisfaction', 'the', 'opportunity', 'which', 'now', 'presents', 'itself', 'of', 'congratulating', 'you', 'on', 'the', 'present', 'favorable', 'prospects', 'of', 'our', 'public', 'affairs', 'the', 'recent', 'accession', 'of', 'the', 'important', 'state', 'of', 'north', 'carolina', 'to', 'the', 'constitution', 'of', 'the', 'united', 'states', 'of', 'which', 'official', 'information', 'has', 'been', 'received', 'the', 'rising', 'credit', 'and', 'respectability', 'of', 'our', 'country', 'the', 'general', 'and', 'increasing', 'good', 'will', 'toward', 'the', 'government', 'of', 'the', 'union', 'and', 'the', 'concord', 'peace', 'and', 'plenty', 'with', 'which', 'we', 'are', 'blessed', 'are', 'circumstances', 'auspicious', 'in', 'an', 'eminent', 'degree', 'to', 'our', 'national', 'prosperity'], ['in', 'resuming', 'your', 'consultations', 'for', 'the', 'general', 'good', 'you', 'can', 'not', 'but', 'derive', 'encouragement', 'from', 'the', 'reflection', 'that', 'the', 'measures', 'of', 'the', 'last', 'session', 'have', 'been', 'as', 'satisfactory', 'to', 'your', 'constituents', 'as', 'the', 'novelty', 'and', 'difficulty', 'of', 'the', 'work', 'allowed', 'you', 'to', 'hope', 'still', 'further', 'to', 'realize', 'their', 'expectations', 'and', 'to', 'secure', 'the', 'blessings', 'which', 'a', 'gracious', 'providence', 'has', 'placed', 'within', 'our', 'reach', 'will', 'in', 'the', 'course', 'of', 'the', 'present', 'important', 'session', 'call', 'for', 'the', 'cool', 'and', 'deliberate', 'exertion', 'of', 'your', 'patriotism', 'firmness', 'and', 'wisdom'], ['among', 'the', 'many', 'interesting', 'objects', 'which', 'will', 'engage', 'your', 'attention', 'that', 'of', 'providing', 'for', 'the', 'common', 'defense', 'will', 'merit', 'particular', 'regard', 'to', 'be', 'prepared', 'for', 'war', 'is', 'one', 'of', 'the', 'most', 'effectual', 'means', 'of', 'preserving', 'peace'], ['a', 'free', 'people', 'ought', 'not', 'only', 'to', 'be', 'armed', 'but', 'disciplined', 'to', 'which', 'end', 'a', 'uniform', 'and', 'well', 'digested', 'plan', 'is', 'requisite', 'and', 'their', 'safety', 'and', 'interest', 'require', 'that', 'they', 'should', 'promote', 'such', 'manufactories', 'as', 'tend', 'to', 'render', 'them', 'independent', 'of', 'others', 'for', 'essential', 'particularly', 'military', 'supplies']]

## Exercise 1

In [38]:
alphabetic_tokens = []
for i in tokens:
    if i.isalpha():
        alphabetic_tokens.append(i)
alphabetic_tokens[:5]

['of', 'the', 'Senate', 'and', 'House']

In [5]:
# Remove stop words

from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
stemmer = nltk.stem.porter.PorterStemmer()
clean_docs_stops = []
for doc in clean_docs:
    doc_wo_stops = [stemmer.stem(word) for word in doc if not word in stop_words]
    clean_docs_stops.append(doc_wo_stops)
print(clean_docs_stops[:5])

[['fellow', 'citizen', 'senat', 'hous', 'repres'], ['embrac', 'great', 'satisfact', 'opportun', 'present', 'congratul', 'present', 'favor', 'prospect', 'public', 'affair', 'recent', 'access', 'import', 'state', 'north', 'carolina', 'constitut', 'unit', 'state', 'offici', 'inform', 'receiv', 'rise', 'credit', 'respect', 'countri', 'gener', 'increas', 'good', 'toward', 'govern', 'union', 'concord', 'peac', 'plenti', 'bless', 'circumst', 'auspici', 'emin', 'degre', 'nation', 'prosper'], ['resum', 'consult', 'gener', 'good', 'deriv', 'encourag', 'reflect', 'measur', 'last', 'session', 'satisfactori', 'constitu', 'novelti', 'difficulti', 'work', 'allow', 'hope', 'still', 'realiz', 'expect', 'secur', 'bless', 'graciou', 'provid', 'place', 'within', 'reach', 'cours', 'present', 'import', 'session', 'call', 'cool', 'deliber', 'exert', 'patriot', 'firm', 'wisdom'], ['among', 'mani', 'interest', 'object', 'engag', 'attent', 'provid', 'common', 'defens', 'merit', 'particular', 'regard', 'prepar', 'war', 'one', 'effectu', 'mean', 'preserv', 'peac'], ['free', 'peopl', 'ought', 'arm', 'disciplin', 'end', 'uniform', 'well', 'digest', 'plan', 'requisit', 'safeti', 'interest', 'requir', 'promot', 'manufactori', 'tend', 'render', 'independ', 'other', 'essenti', 'particularli', 'militari', 'suppli']]

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

def stem_tokens(tokens, stemmer):
    stemmed = []
    for item in tokens:
        stemmed.append(stemmer.stem(item))
    return stemmed

def tokenize(text):
    tokens = nltk.word_tokenize(text)
    stems = stem_tokens(tokens, stemmer)
    return stems

tfidf = TfidfVectorizer(tokenizer=tokenize, stop_words='english')
tfs = tfidf.fit_transform(clean_docs)

feature_names = tfidf.get_feature_names()

In [6]:
# Get all unique stems/terms
unique = set(word for doc in clean_docs_stops for word in doc)

In [64]:
A = [[1,2,3,4],[5,6],[7,8],[9,10]]
B = [item for sublist in A for item in sublist]
print(B)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
wordcount_by_doc = [dict.fromkeys(list(unique),0) for i in range(len(clean_docs_stops))]
for index,doc in enumerate(clean_docs_stops):
    for word in doc:
        if word in unique:
            wordcount_by_doc[index][word] = wordcount_by_doc[index][word] + 1

In [8]:
for word,count in wordcount_by_doc[0].items():
    if count!=0 :
        print(word,count)

fellow 1
hous 1
senat 1
repres 1
citizen 1

In [9]:
dt_matrix = pd.DataFrame(wordcount_by_doc)

In [111]:
test = dt_matrix.head()
print(test.shape[0])
print(test.shape[1])
tfdv_matrix = np.zeros(shape=(test.shape[0], test.shape[1]))
tfdv_matrix
test.iloc[0,0]

5
13550

0

In [14]:
# Get corpus level tf-idf scores of each term

# calculate tf_v

tf_v = 1 + np.log(dt_matrix.sum(axis = 0))

# calculate df_v - find number of non-zero rows for each column

df_v = dt_matrix.astype(bool).sum(axis=0)

idf_v = np.log(dt_matrix.shape[0]/df_v)

# calculate tf-idf

tf_idf_v = tf_v * idf_v

# calculate tf_dv
#tfdv_matrix = np.zeros(shape=(dt_matrix.shape[0], dt_matrix.shape[1]))
#for i in range(dt_matrix.shape[0]):
#    for j,value in enumerate(dt_matrix.iloc[i,:]):
#        tfdv_matrix[i][j] = (1 + np.log(dt_matrix.iloc[i,j]) if dt_matrix.iloc[i,j]!=0 else 0)

In [118]:
#sum(test.iloc[:,0] != 1)

5

In [18]:
tf_idf_v.sort_values(ascending=False)

wool            35.215236
cabl            35.124009
circuit         34.474063
acr             34.403554
texa            34.232973
solar           34.065523
pound           34.001592
seal            33.954782
ton             33.729550
forest          33.660847
iraqi           33.608646
ounc            33.555389
inch            33.543376
battleship      33.387505
injunct         33.364720
domingo         33.361819
filipino        33.275431
gun             33.250876
isthmu          33.240694
silver          33.220076
refuge          33.219595
hondura         33.201740
timber          33.193219
sugar           33.168913
iraq            33.140268
park            33.138446
leas            33.028476
santo           33.012980
immigr          32.946556
space           32.866600
                  ...
litter          10.049966
littleton       10.049966
zoom            10.049966
liveri          10.049966
lizzi           10.049966
loaf            10.049966
liliuokolani    10.049966
lighterag       10.049966
legate          10.049966
lieberman       10.049966
legitimaci      10.049966
legum           10.049966
lemon           10.049966
lenienc         10.049966
leningrad       10.049966
leniti          10.049966
lenni           10.049966
leper           10.049966
leprosi         10.049966
lessli          10.049966
lessor          10.049966
letterman       10.049966
letup           10.049966
lew             10.049966
liaison         10.049966
lianna          10.049966
libyaninspir    10.049966
license         10.049966
lick            10.049966
aa              10.049966
dtype: float64

In [ ]:
# calculate the idf - column vector

#tfdv_matrix = np.zeros(shape=(dt_matrix.shape[0], dt_matrix.shape[1]))

#for i in range(tfdv_matrix.shape[0]):
#    tfidf_matrix[i] = tfdv_matrix[i] * idfv

# sum of tfidf score over documents - column sum

#tfidf_matrix.sum(axis = 0)

In [19]:
# Append metadata to document term matrix
dt_matrix['meta_president'] = data['president']
dt_matrix['meta_year'] = data['year']

In [20]:
dt_matrix.head()

,aa,aaa,aana,aaron,abandon,abat,abba,abbrevi,abdic,abduct,...,zimbabwean,zinc,zion,zollverein,zone,zoolog,zoom,zuloaga,meta_president,meta_year
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Washington,1790
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Washington,1790
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Washington,1790
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Washington,1790
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Washington,1790

In [30]:
# Save dt_matrix and tf-idf to avoid computation later

dt_matrix.to_pickle('dtmatrix.pkl')
tf_idf_v.to_pickle('tfidf.pkl')

## Exercise 2

In [22]:
dt_matrix = pd.read_pickle('dtmatrix.pkl')
tf_idf_v = pd.read_pickle('tfidf.pkl')